* {
  margin: 0;
  padding: 0;
}

.logo {
  border: 2px solid #fff;
  padding: 5px;
}

.jumbotron {
  background-image: url(img/main.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
  margin: 0;
}

h1 {
  text-align: center;
  text-shadow: 0 0 5px #222;
}

.jumbotron {
  border-radius: 0 !important;
}

.jumbotron p {
  text-align: center;
}

.mp {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}

img {
  height: 280px;
}

.n-left {
  height: 300px;
  text-align: center;
}

.n-left-text {
  text-align: center;
}

.n-right {
  height: 300px;
  text-align: center;
}

.n-right-text {
  text-align: center;
}

.n-center {
  height: 300px;
  text-align: center;
}

.n-center-text {
  text-align: center;
}

footer {
  color: #fff;
  margin-top: 25px;
  margin-top: 35px;
  height: 25px;
}

fieldset legend {
  text-align: center;
  margin: 35px;
}

/* contacto */
.contenedorContacto {
  width: 90%;
  max-width: 75em;
  margin: 1.25em auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.25empx;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 'contacto1		contacto1	contacto1'
 'contacto2		contacto2	contacto2'
 'contacto3		contacto3	contacto3'
 'contacto4		contacto4	contacto4';
}

h2 {
  grid-area: h2;
  margin-top: 35px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 45px;
}

.contacto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contacto1;
  margin-top: 35px;
  -ms-grid-columns: 1;
  grid-template-columns: 1;
  grid-gap: 1.25rem;
  height: 20%;
  width: 100%;
}

.contacto2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contacto2;
  margin-top: 35px;
  -ms-grid-columns: 1;
  grid-template-columns: 1;
  grid-gap: 1.25rem;
  height: 20%;
  width: 100%;
}

.contacto3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contacto3;
  margin-top: 35px;
  -ms-grid-columns: 1;
  grid-template-columns: 1;
  grid-gap: 1.25rem;
  height: 20%;
  width: 100%;
}

.contacto4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contacto4;
  margin-top: 35px;
  -ms-grid-columns: 1;
  grid-template-columns: 1;
  grid-gap: 1.25rem;
  height: 20%;
  width: 100%;
}

.contacto__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100px;
  float: left;
}

.contacto__imagen__numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
  width: 25%;
  display: inline-block;
  font-size: 1.875rem;
  text-align: left;
  color: black;
}

/*fin  contacto */
.btn-enviar {
  padding: 2px;
}

/* pseudoclases */
p::-moz-selection {
  color: orangered;
  background-color: black;
}
p::selection {
  color: orangered;
  background-color: black;
}

h2::-moz-selection {
  color: black;
  background-color: orangered;
}

h2::selection {
  color: black;
  background-color: orangered;
}

.form-control:focus {
  border-color: orangered;
  -webkit-box-shadow: inset 0 1px 1px orangered, 0 0 3px orangered;
          box-shadow: inset 0 1px 1px orangered, 0 0 3px orangered;
}
/*# sourceMappingURL=estilos.css.map */