*{
    margin: 0;
    padding: 0;
}

// variables
$altura: 300px;
$color1: #fff;
$color2: orangered;
// fin variables
.logo{
    border: 2px solid $color1;
}

.jumbotron{
    background-image: url(img/main.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    margin: 0;
}

h1{
    text-align: center;
    text-shadow: 0 0 5px #222;
}

.jumbotron{
    border-radius: 0 !important;
}
.jumbotron p{
    text-align: center;
}

.mp{
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

img{
    height: 280px;
}
.n-left{
    height: $altura;
    text-align: center;
}

.n-left-text{
    text-align: center;
}
.n-right{
    height: $altura;
    text-align: center;
}
.n-right-text{
    text-align: center;
}

.n-center{
    height: $altura;
    text-align: center;
}
.n-center-text{
    text-align: center;
}

footer{
    color: $color1;
    margin-top: 25px;
    margin-top: 35px;
    height: 25px;
}


fieldset legend{
    text-align: center;
    margin: 35px;
}


/* pseudoclases */

p::selection{
    color: $color2;
    background-color: black;
}

h2::selection{
    color: black;
    background-color: $color2;
}

.form-control:focus{
    border-color: $color2;
    box-shadow: inset 0 1px 1px $color2, 0 0 3px $color2;
}