*{
    margin: 0;
    padding: 0;
}

// variables
$altura: 300px;
$color1: #fff;
$color2: orangered;
// fin variables
.logo{
    border: 2px solid $color1;
    padding: 5px;
}

.jumbotron{
    background-image: url(img/main.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    margin: 0;
}

h1{
    text-align: center;
    text-shadow: 0 0 5px #222;
}

.jumbotron{
    border-radius: 0 !important;
}
.jumbotron p{
    text-align: center;
}

.mp{
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

img{
    height: 280px;
}
.n-left{
    height: $altura;
    text-align: center;
}

@mixin size {
    height: $altura;
    text-align: $position;
}

.n-left-text{
    text-align: center;
}
.n-right{
    @extend .n-left;
    // height: $altura;
    // text-align: center;
}
.n-right-text{
    @extend .n-center-text;
    // text-align: center;
}

.n-center{
    @include size($altura, center)
    // @extend .n-left;
    // height: $altura;
    // text-align: center;
}
.n-center-text{
    @extend .n-center-text;
    // text-align: center;
}

footer{
    color: $color1;
    margin-top: 35px;
    height: 40px !important;
    width: 100% !important;
    padding: 0;
}


fieldset legend{
    text-align: center;
    margin: 35px;
}


.btn-enviar{
    padding: 2px;
}

/* pseudoclases */

p::selection{
    color: $color2;
    background-color: black;
}

h2::selection{
    color: black;
    background-color: $color2;
}

.form-control:focus{
    border-color: $color2;
    box-shadow: inset 0 1px 1px $color2, 0 0 3px $color2;
}


#imgCont{
    height: 70px;
    width: auto;
}

.pCont{
    font-size: 1.875rem;
    text-align: left;
    color: black;
}

@media only screen and (min-width:320px) and (max-width:600px){
    .jumbotron h1{
        text-shadow: none;
        color: $color2;
    }
}